- if ($doc_reference->getInheritedDoc($logger, 'title'))
  %p
    != $generator->formatInline($doc_reference, $doc_reference->getInheritedDoc($logger, 'title'))

    :php
      $reference = $doc_reference->getInheritedDocElement($logger, 'title')

    - if ($reference != $doc_reference)
      %i != "(from " . $generator->linkTo($reference->getFilename(), $reference->getName()) . ")"


- if ($doc_reference->getInheritedDoc($logger, 'description'))
  %p
    != str_replace("\n", "</p><p>", $generator->formatInline($doc_reference, $doc_reference->getInheritedDoc($logger, 'description')))

    :php
      $reference = $doc_reference->getInheritedDocElement($logger, 'description')

    - if ($reference != $doc_reference)
      %i != "(from " . $generator->linkTo($reference->getFilename(), $reference->getName()) . ")"

- if ($doc_reference->getInheritedDoc($logger, 'deprecated'))
  - foreach ($doc_reference->getInheritedDoc($logger, 'deprecated') as $description)
    %p
      %b Deprecated.

      != $generator->formatInline($doc_reference, $description)

%dl
  - if ($doc_reference instanceof PHPDoc2\Database\DocMethod && $doc_reference->overrides($logger))
    %dt Overrides:
    %dd
      :php
        $reference = $doc_reference->overrides($logger);
        echo $generator->linkTo($reference->getFilename(), $reference->getPrintableName());

  - if ($doc_reference->getInheritedDoc($logger, 'params'))
    %dt Parameters:
    %dd
      - foreach ($doc_reference->getInheritedDoc($logger, 'params') as $param => $description)
        %code = $param
        \-
        != $generator->formatInline($doc_reference, $description)
        %br

  - if ($doc_reference instanceof PHPDoc2\Database\DocMethod && $doc_reference->getDefaults($logger))
    %dt Defaults:
    %dd
      - foreach ($doc_reference->getDefaults($logger) as $param => $description)
        %code = $param
        != $generator->formatDefault($description);
        %br

  - if ($doc_reference->getInheritedDoc($logger, 'return'))
    %dt Returns:
    %dd
      - foreach ($doc_reference->getInheritedDoc($logger, 'return') as $description)
        != $generator->formatInline($doc_reference, $description)
        %br

  - if ($doc_reference->getInheritedDoc($logger, 'throws'))
    %dt Throws:
    %dd
      - foreach ($doc_reference->getInheritedDoc($logger, 'throws') as $see_class => $description)
        != \Pages\PageRenderer::requireTemplate("_doc_hash", array('see_class' => $see_class, 'description' => $description))
        %br

  - if ($doc_reference->getInheritedDoc($logger, 'see'))
    %dt See:
    %dd
      - foreach ($doc_reference->getInheritedDoc($logger, 'see') as $see_class => $description)
        != \Pages\PageRenderer::requireTemplate("_doc_hash", array('see_class' => $see_class, 'description' => $description))
        %br
